@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$screen-sm-min: 600px;
$screen-md-min: 900px;
$screen-lg-min: 1200px;
$screen-xl-min: 1536px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}


$dark: #191919;
$darkBody: #314724;
$darkGreen: #59923A;
$green: #66B539;
$greenLightGreen: #A7D685;
$lightGreen: #E8F7D0;
$light: #EEF0F2;
$primary: #41BEBB;
$secondary: #58853E;

body {
    background-color: $darkGreen;
    margin: 0;
    padding: 0;
    font: 13px/20px 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', serif;
    color: $darkBody
}

@font-face {
    font-family: 'Haakke';
    src: local("HaakkeSlanted"), url('../../public/fonts/HaakkeSlanted.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif', serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
}

.logo {
    font-family: "Haakke";
}

h1 {
    text-align: center;
    color: $dark;
    font-family: 'Noto Serif', serif;
}

h2 {
    color: $dark;
    font-family: 'Noto Serif', serif;
}

main {
    background-color: $lightGreen;
    max-width: 1200px;
    margin: auto
}


footer {
    color: white
}

.tracking-bar {
    background: linear-gradient(to left, $secondary, $primary);
}

.entry-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.entry-card-header {
    background-color: #006a68;
    padding: 10px;
}

.entry-card-header h3 {
    color: #ffffff;
    margin: 0;
}

.entry-card-header p {
    margin: 0;
    font-size: 14px;
}

.entry-card-body {
    padding: 10px;
}

.entry-card-body strong {
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.entry-card {
    background-color: #006a6812;
    padding-bottom: 0px;
}

.entry-card-content {
    padding-bottom: 0px !important;

}

.google-autocomplete-field>.MuiInputBase-root {
    border-radius: 2000px;
}