@import "tailwindcss/components";
@import "tailwindcss/utilities";

$screen-sm-min: 600px;
$screen-md-min: 900px;
$screen-lg-min: 1200px;
$screen-xl-min: 1536px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}


$dark: #191919;
$darkBody: #314724;
$darkGreen: #59923A;
$green: #66B539;
$greenLightGreen: #A7D685;
$lightGreen: #E8F7D0;
$light: #EEF0F2;

body {
    background-color: $darkGreen;
    margin: 0;
    padding: 0;
    font: 13px/20px 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', serif;
    color: $darkBody
}

@font-face {
    font-family: 'Haakke';
    src: local("HaakkeSlanted"), url('../../public/fonts/HaakkeSlanted.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif', serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
}

.logo {
    font-family: "Haakke";
}

h1 {
    text-align: center;
    color: $dark;
    font-family: 'Noto Serif', serif;
}

h2 {
    color: $dark;
    font-family: 'Noto Serif', serif;
}


.hero {
    background-color: #59923A;
    max-width: 100%;
}

.hero-card {

    border-radius: 1rem;
    max-width: 100%;

    @include md {
        max-width: 335px;
    }

    background-color: $light;

    transition-property: background-color;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}

.hero-active {
    background-color: transparent;
    background-image: linear-gradient(to right, $green 0%, $greenLightGreen 71%);
}

main {
    background-color: $lightGreen;
    max-width: 1000px;
    margin: auto
}


footer {
    color: white
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.toggleIn {
    animation: fadein 1500ms;
    opacity: 1;
}